<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================== -->
<!-- logback 配置文件 ，刷新配置文件间隔 -->
<!-- ====================================== -->
<configuration scan="true" scanPeriod="60 seconds" debug="true">

  <!-- ====================================== -->
  <!-- 全局配置 -->
  <!-- ====================================== -->
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
  <property name="appname" value="platform-web-base"/>
  <property name="appid" value="log"/>
  <!---->
  <property name="LOG_HOME" value="${catalina.base}/logs/${appname}"/>
  <property name="loggingCharset" value="utf-8"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoder 默认配置为 PatternLayoutEncoder -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder>
      <pattern>[${appname}]: %d{yyyy-MM-dd HH:mm:ss.SSS} [%c:%L]-[%p] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- ====================================== -->
  <!-- 通用业务日志文件 -->
  <!-- ====================================== -->
  <appender name="bizLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--<encoding>${loggingCharset}</encoding>-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/biz-${appid}-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <!--<maxFileSize>100MB</maxFileSize>-->
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%c:%L]-[%p] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- ====================================== -->
  <!-- controller 层调用日志 -->
  <!-- ====================================== -->
  <appender name="controller" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--<encoding>${loggingCharset}</encoding>-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/trace/controller-trace-log-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <!--<maxFileSize>100MB</maxFileSize>-->
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%c:%L]-[%p] %msg%n</pattern>
    </encoder>
  </appender>
  <!-- ====================================== -->
  <!-- error输入输出日志 -->
  <!-- ====================================== -->
  <appender name="error-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--<encoding>${loggingCharset}</encoding>-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/error/error-log-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <!--<maxFileSize>100MB</maxFileSize>-->
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%c:%L]-[%p] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- ====================================== -->
  <!-- exception输入输出日志 -->
  <!-- ====================================== -->
  <appender name="exception-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--<encoding>${loggingCharset}</encoding>-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/error/exception-log-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <!--<maxFileSize>100MB</maxFileSize>-->
    </rollingPolicy>
    <!-- 求值过滤器，评估、鉴别日志是否符合指定条件. 需要额外的两个JAR包，commons-compiler.jar和janino.jar -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <!--默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
      <evaluator>
        <!--过滤掉所有日志消息中不包含"Exception"字符串的日志 -->
        <expression>throwableProxy!=null</expression>
      </evaluator>
      <OnMatch>ACCEPT</OnMatch>
      <OnMismatch>DENY</OnMismatch>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%c:%L]-[%p] %msg%n</pattern>
    </encoder>
  </appender>

  <!-- ====================================== -->
  <!-- mybatis打印sql日志，按照每天生成日志文件 -->
  <!-- ====================================== -->
  <appender name="mybatis" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/sql/sql.log</file>
    <!--<encoding>${loggingCharset}</encoding>-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_HOME}/sql/sql-log-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %level %logger{35} %msg %n</pattern>
    </encoder>
  </appender>


  <logger name="com.alphabeta.platform.core.dao.mapper" level="DEBUG">
    <appender-ref ref="mybatis"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="bizLog"/>
    <appender-ref ref="error-log"/>
    <appender-ref ref="exception-log"/>
  </root>

</configuration>
