<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alphabeta.platform.base.dao.mapper.ext.SysUserSessionExtMapper">
  <resultMap id="BaseResultMap" type="com.alphabeta.platform.base.domain.model.SysUserSession">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_session_id" property="userSessionId" jdbcType="BIGINT" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="ua" property="ua" jdbcType="VARCHAR" />
  </resultMap>
</mapper>
